.selectionWrapper {
  margin-top: 30px;
  margin-left: 25px;
  width: 55%;
  font-size: 14px;
}

.selectionName {
  margin-top: 8px;
  font-size: 120%;
}

.selectionArtist {
  margin-top: 8px;
  font-size: 90%;
  padding-bottom: 30px;
}

.songImage {
  border-radius: 4%;
}

.artistImage {
  border-radius: 100%;
}

.removeBtn {
  position: relative;
  bottom: 180px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-style: none;
  background-color: rgb(150, 10, 10);
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}
