$mainColor: #D8D7D6;
$scrollBarColor: #b8b8b8;

.App {
  background-color: $mainColor;
  // text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  border-bottom: 3px solid #000;
}

.spotifyLogin{
  margin-right: 5%;
  background-color: rgba(0, 255, 255, 0);
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
}

.spotifyLogo{
  margin-right: 10px;
}

.App-body{
  display: flex;
}

.searchSection{
  padding: 30px;
  width: 24%;
}

.resultsList{
  max-height: 80vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $scrollBarColor; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 158, 158); 
}

.divider{
  min-width: 3px;
  background-color: #000;
  height: 92vh;
}

.recommendedSection{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  margin: 40px;
  margin-top: 10px;
}

.seedList{
  width: 90%;
  min-height: 30vh;
  display: flex;
  padding-left:  10%;
}

.recommendedList{
  width: 100%;
  display: flex;
  min-height: 50vh;
  max-height: 50vh;
  background-color: rgba(255, 255, 255, 0.63);
}

.recommendedDetail{
  height:28px;
  transform: rotate(-90deg);
  position: relative;
  top: 30%;
  margin-right: 5%;
}

.detailHighlight{
  width: 60%;
  height: 15px;
  background-color: $scrollBarColor;
  position: relative;
  margin-left: auto;
  top: -15px;
}

.detailWording{
  // font-size: 150%;
  font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  position: relative;
  z-index: 1;
}

.selectionList{
  overflow-y: scroll;
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
}

.playlistButton{
  margin-top: auto;
  padding: 10px;
  border: none;
  background-color: #B8B8B8;
  color: #000;
  margin-right: 30%;
  margin-left: 30%;
}

