.individualResult{
    padding: 12px;
}

.individualResult:hover{
    cursor:pointer;
    background-color: #EAE9E9;
}

.individualResultArtist{
    margin: 0px;
}

.individualResultName{
    margin-bottom: 0px;
    margin-top: 0px;
}